/* Body style */
body {
  font-family: 14px Circular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #484848;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

/* container style */
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1000px;
  margin: 30px auto;
}
